# Define o padrão de final de linha para LF
* text=auto eol=lf

# Trata arquivos binários
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary

# Linguagens
*.js text
*.json text
*.ejs text
*.sql text
*.md text
*.env text
*.html text
*.css text
